/* Override CSS Classes: Start */

* {
    padding: 0;
    margin: 0;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    outline: none
}

a:hover {
    cursor: pointer;
    text-decoration: none;
    text-indent: 0
}

body {
    font-family: Arial, serif;
}

.m-b-40 {
    margin-bottom: 40px !important;
}

.fw-500 {
    font-weight: 500 !important;
}

.fw-600 {
    font-weight: 600 !important;
}

.fs-25 {
    font-size: 25px !important;
    line-height: 25px !important;
}

.fs-100 {
    font-size: 100px !important;
    line-height: 100px !important;
}

.ff-lc {
    font-family: "Lucida Console", monospace !important;
}

.ls-5 {
    letter-spacing: 5px !important;
}

.d-f {
    display: flex !important;
}

.jc-fe {
    justify-content: flex-end !important;
}

.jc-fs {
    justify-content: flex-start !important;
}

.ai-c {
    align-items: center !important;
}

.css-ha3bif-MuiTimelineItem-root:before {
    display: none;
}

/* Override CSS Classes: End */

/* Home Page CSS Classes: Start */

.home-background {
    padding: 0 10px;
    background: linear-gradient(-45deg, #0b43fc, #0055ff, #047FFE, #2193b0);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

.home-name {
    text-shadow: -50px -50px 20px #474747;
    animation: skew 2s ease-in-out infinite;
    transform: skew(20deg);
    animation-direction: alternate;
    transition: 200ms ease-in-out;
}

.home-title {
    display: inline-block;
    overflow: hidden;
    border-right: 2px solid #000000;
    white-space: nowrap;
    animation: title 4s steps(30, end) alternate infinite, cursor 750ms step-end infinite;
    transition: 200ms ease-out;
}

.profile-icon {
    color: #000000 !important;
    font-size: 45px !important;
}

.profile-icon:hover {
    color: #ffffff !important;
    background-color: transparent !important;
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

@keyframes skew {
    0% {
        transform: skewX(20deg);
    }

    100% {
        transform: skewX(-20deg);
    }
}

@keyframes title {
    from {
        width: 0
    }

    to {
        width: 110%
    }
}

@keyframes cursor {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: #000000
    }
}

/* Home Page CSS Classes: End */

/* Experience Page CSS Classes: Start */

.experience-details {
    background-color: #F2F3F7;
    border-radius: 10px;
}

.logo {
    width: 100px;
}

.logo .text {
    fill: #000000;
}

.accenture .symbol {
    fill: #a100ff;
}

.mediaNet .symbol {
    fill: #e94555;
}

.dalhousie .symbol {
    fill: #eaa700;
}

.cra .symbol {
    fill: #ff0000;
}

/* Experience Page CSS Classes: End */